<div class="container">
    <div class="title">
      <%= @form.title %>
    </div>
    <div class="content">
      <iframe srcdoc="<%= @form.comment %>" id="commentFrame" frameborder="0" height="500" width="100"></iframe>
    </div>
    <div>
    <%= link_to 'Edit', edit_form_path(@form) %> |
    <%= link_to 'Back', forms_path %>
    </div>
</div>


