@import "bootstrap-sprockets";
@import"bootstrap";

/* universal */
*{
    margin:0 auto;
}
body{
    margin:0 auto;
    margin-top:100px;
}
a{
    text-decoration:none;
}
/* header */
header .container{
    background-color:#cfcfcf;
    color:black;
    width:100%;
    padding-top:10px;
}
#logo{
    text-decoration:none;
    color:white;
}
.white{
    color:white;
}

iframe{
    width:100%;
}

.navi-menu li{
    display:inline-block;
}
.list-inline{
    display:inline-block;
}

/* belowHeader */


/* post */
.post{
    padding:50px 0;
    margin:100px 0;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
}

/* forms */
.title{
    border:#ccc;
}
.content{
}
.selector{
    float:right;
}





/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
