@import "bootstrap-sprockets";
@import"bootstrap";
@import "font-awesome";

/* universal */
*{
    margin:0 auto;
}
body{
    z-index:0;
    margin:0 auto;
    margin-top:100px;
    background-image: -moz-linear-gradient(top, #1f9dff, #26bfff);
    background-image: -ms-linear-gradient(top, #1f9dff, #26bfff);
    background-image: -o-linear-gradient(top, #1f9dff, #26bfff);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#1f9dff), to(#26bfff));
    background-image: -webkit-linear-gradient(top, #1f9dff, #26bfff);
    background-image: linear-gradient(top, #1f9dff, #26bfff);
}
a{
    text-decoration:none;
}
/* header */
header .container{
    z-index:2;
    background-color:#cfcfcf;
    color:black;
    width:100%;
    padding-top:10px;
}
#logo{
    text-decoration:none;
    color:white;
}
.white{
    color:white;
}

iframe{
    width:100%;
}

.navi-menu li{
    display:inline-block;
}
.list-inline{
    display:inline-block;
}
.header_image{
    width:50px;
    height:50px;
    border-radius:50%;
}
.header_icon{
    font-size:20px;
}
header .li{
    margin-left:30px;
}

/* belowHeader */


/* post */
.post{
    padding:50px 0;
    margin:100px 0;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    background-image:white;
}

/* forms */
.title{
    border:#ccc;
}
.content{
}
.selector{
    float:right;
}


/* user profile */
.micro-photo{
    width:50px;
    height:50px;
}

/* user_profile */

.micro_photo{
    width:30px;
    height:30px;
}
.user_photo{
    width:100px;
    height:100px;
}

// bottom_bar 

.sidebar{
    position: fixed;
     /* 好みに応じて調節してください */
  }
 
    .sidebar.left {
    z-index:100;
      top: 0;
      left: 0;
      bottom: 0;
      width: 270px; /*この値は調節してください。*/
      background: #448AFF; /*背景色も好みに応じにて調節してください。*/
    }
 
    .sidebar.right {
      top: 0;
      right: 0;
      bottom: 0;
      width: 270px;
      background-color:white;
    }
 
    .sidebar.top {
      left: 0;
      right: 0;
      top: 0;
      height: 270px;
      background: #03A9F4;
    }
 
    .sidebar.bottom {
      left: 0;
      right: 0;
      bottom: 0;
      height: 420px;
    }

.toggle_bottom i{
    z-index:100;
    position:fixed;
    right:10px;
    bottom:10px;
    
}





/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require syntax-highlighter-rails/shCore
 *= require syntax-highlighter-rails/shThemeDefault
 */

