<header class="header">
  <div class="container navbar navbar-fixed-top">
    <div class="navbar-left"><h2>My Coding Day</h2></div>
    <div class="navbar-right"><%= link_to 'New Form', new_form_path,class:'btn btn-primary' %></div>
</header>
  